<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<style type="text/css">
    ul.example li {
        float: left;
        width: 8em;
        margin-right: 5px;
        padding: 2px;
        border: 1px #ffb366 solid;
        background-color: #fffdee;
        text-align: center;
    }
</style>
<body>
<ul class="example">
    <li>score</li>
    {% for team_game_inning in team_game_innings %}
        <li>{{ team_game_inning.inning }}回</li>
    {% endfor %}
    <li>計</li>
</ul>
<br>
<ul class="example">
    <li>{{ team_game.first_half_team_name }}</li>
    {% for first_half_score in first_half_scores %}
        <li>{{ first_half_score.score }}</li>
    {% endfor %}
        <li>{{ 15 }}</li>
</ul>
<br>
<ul class="example">
    <li>{{ team_game.second_half_team_name }}</li>
    {% for second_half_score in second_half_scores %}
        <li>{{ second_half_score.score }}</li>
    {% endfor %}
    <li>2</li>
</ul>

</body>
</html>